.main{
    background-color: rgba(204, 204, 204, 0.24);
    border-radius: 2rem;
margin-top:1rem;
padding:1rem 0 ;
}
.content{
    display: flex;
    flex-direction: column;
    padding:0.5rem;
    cursor: pointer;
}

.row:hover{
    background-color: rgba(204, 204, 204, 0.521);
}


.subject,.qty{
    font-size:0.56rem;
    color: rgba(0, 0, 0, 0.568);
    font-weight: 600;
    margin-bottom:0.2rem;
}

.topic{
    font-size:0.8rem;
    font-weight: 600;
}

.icon{
    fill:black;
    height:1rem;
}